<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Mode Selection</title>
    <link rel="stylesheet" type="text/css" href="interface_style.css" />
  </head>
  <body>

    <!-- <li>class="login-button">Login</li> -->
    <div class="container">
      <h2>Select User Mode</h2>
      <ul>
        <li>
          <a href="faculty_login.html">Faculty Login</a>
        </li>
        <li>
          <a href="admin_login.html">Admin Login</a>

        </li>
      </ul>
    </div>
    
  </body>
</html>
