body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lavender;
    background-image: url('image4.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9); /* Off-white background color with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

.copyright {
    font-size: 14px;
    color: #ccc;
}

.copyright span {
    margin: 0 5px;
}

main {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent; /* Transparent background color */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 0 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #333;
}

.file-upload {
    text-align: center;
}

.file-label {
    font-family: "Arial", sans-serif;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #555;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}
